* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header */
.container {
    display: flex;
    position: fixed;
    top: 0px;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    color: #43655A;
    height: 80px;
    padding: 10px;
    width: 100%;
    overflow: auto;
}

nav a {
    text-decoration: none;
    color: #43655A;
}

.nav-first-part,
.nav-middle-part,
.nav-last-part {
    margin: 5px 10px 0px 5px;
}

.nav-middle-part {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-middle-part input {
    padding-left: 10px;
    background-color: #e4ede6;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 100%;
    outline: none;
    font-size: 20px;
}

.nav-middle-part a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #43655A;
    height: 45px;
    width: 60px;
    margin-left: -1px;
    border-radius: 0 8px 8px 0;
}

.nav-last-part {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nav-user-account-bar,
.nav-cart-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 450px) {
    .container {
        font-size: 14px;
    }

    .nav-middle-part a {
        height: 35px;
    }

    .nav-middle-part input {
        display: none;
    }

    .nav-middle-part a {
        border-radius: 8px 8px;
    }
}

/* forgot form */
#forgot {
    margin: 100px 26% 0 26%;
    width: auto;
}

form {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background-color: #e4ede6;
    justify-content: center;
    padding-bottom: 20px;
}
.forgot_form_container input{
    margin: 10px;
    padding: 10px;
    font-size: 13px;
    height: 35px;
    border: none;
    outline: none;
    width: 97%;
    display: flex;
}
form>div {
    width: 100%;
}
.forgot-text{
    margin-top: 8px;
    font-size: 13px;
    color: rgb(160, 160, 160);
}
.forgot_form_container button {
    height: 35px;
    width: 30%;
    border: none;
    cursor: pointer;
    background-color: #43655A;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
@media screen and (max-width: 768px) {
    #forgot {
        margin: 100px 10% 0 10%;
        width: auto;
    }
    form{
        margin-top: 9px;
    }
    form>div {
        margin-right: 12px;
    }
    .forgot-text{
        font-size: 10px;
    }
    .forgot_form_container input {
        font-size: 10px;
        height: 25px;
    }

    .forgot-title {
        font-size: 10px;
    }
    .forgot_form_container button {
        margin-top: 5px;
        font-size: 10px;
        height: 25px;
    }
}