* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #cbd6d3;
    height: 10dvh;
    overflow: hidden;
}

header h1 {
    font-size: 24px;
}

.logo {
    width: 200px;
    display: flex;
    justify-content: center;overflow: hidden;
}

.header-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

main {
    display: flex;
    width: 100%;
}

.menu-bar {
    padding: 20px;
    line-height: 40px;
    width: 200px;
    height: 90dvh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.menu-list ul li a:hover {
    text-decoration: underline;
}
