

.product-container {
    display: flex;
    margin: 20px;
    padding: 20px;
}

.product-image-section {
    border: .5px solid #777;
    border-radius: 8px;
    margin-left: 20px;
    height: 400px;
    width: 350px;
}

.product-thumbnails {
    display: flex;
    height: auto;
    justify-content: space-around;
    /*  align-items: center; */
    padding: 15px;
    /* background-color: #44997e; */
}

.product-thumbnails img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    overflow: hidden;
}

.product-thumbnails img:hover {
    transform: scale(1.1);
}

.product-details {
    width: 100%;
    /* background-color: #44997e; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    line-height: 40px;
    justify-content: center;
}

.product-details>div {
    margin-left: 20px;
}

.product-actions button {
    background-color: #43655A;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.description-section {
    background-color: #e4ede6;
    margin: 20px;
    padding: 20px;
    display: flex;
    height: fit-content;
    align-items: center;
    flex-direction: column;
}

.description-section p {
    margin: 0;
    width: 100%;
    text-align: left;
}

/*  */

.product-image {
    text-align: center;
    width: 320px;
    height: 300px;
    padding: 15px;
    position: relative;
}


.like-share {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.share-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    padding-top: 10px;
}
.share-menu li,a {
    list-style-type: none;
    text-decoration: none;
    color: black;

}

.like i,
.share i {
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    
}

.like:hover,
.share:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.share .share-menu{
    display: none;
}
.share:hover .share-menu{
    display: block;
}


/* responsive */

@media screen and (min-width: 768px) {
    
}