* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #cbd6d3;
    height: 10dvh;
    overflow: hidden;
}

header h1 {
    font-size: 24px;
}

.logo {
    width: 200px;
    display: flex;
    justify-content: center;
}

.header-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

main {
    display: flex;
    width: 100%;
}

.menu-bar {
    padding: 20px;
    line-height: 40px;
    width: 200px;
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.menu-list ul li a:hover {
    text-decoration: underline;
}

.product-add-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.product-add-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Space between the grid items */
    max-width: 600px;
    margin: auto;
}

.form-group button{
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #45a049;
}
.product-name,
.product-categories,
.product-price,
.product-code {
    grid-column: span 1; /* Each takes up one column */
}

.product-description,
.front-image,
.other-images,
.form-group {
    grid-column: span 2; /* These span both columns */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.image-preview img {
    width: 100px; /* Set the desired width for preview images */
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product-description textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}